[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
mlxtend = "*"
shap = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
joypy = "*"
pywaffle = "*"
squarify = "*"
calmap = "*"
scipy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
torchdata = "*"
torchtext = "*"
spacy = "*"
altair = "*"

[dev-packages]

[requires]
python_version = "3.10"